<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <link href="/stylesheets/style.css" rel="stylesheet">
    <style type="text/css">
        iframe {
            overflow: hidden !important;
        }
    </style>
</head>
<body style="overflow:hidden">

<div id="meet-container"></div>

<!-- Include External JavaScript Libraries -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/cryptojslib/rollups/hmac-sha256.js"></script>
<script src="/cryptojslib/components/enc-base64-min.js"></script>
<script src="/i18next/i18next.js"></script>
<script src="/javascripts/init.js"></script>

<!-- Include Moxtra JavaScript Library -->
<!--<script type="text/javascript" src="https://www.moxtra.com/api/js/moxtra-latest.js" id="moxtrajs" data-client-id="uGvPYrH651o"></script>-->

<!--<script type="text/javascript" src="/javascripts/moxtra-latest.js" id="moxtrajs" data-client-id="uGvPYrH651o"></script>-->

<script type="text/javascript" src="https://www.grouphour.com/api/js/moxtra-latest.js" id="moxtrajs"
        data-client-id="lu9gyOkcLX0"></script>
<!--<script type="text/javascript" src="/javascripts/moxtra-latest.grouphour.js" id="moxtrajs" data-client-id="lu9gyOkcLX0"></script>-->

<script type="text/javascript" src="/javascripts/meet.js"></script>

<script type="text/javascript">
    $(function () {
        $('#meet-container').html('');

        maodou.meetSettings.width = "100%";
        maodou.meetSettings.height = "100%";

        maodou.eventHandler = function (event) {
            console.log("event: " + JSON.stringify(event));
            //parent.postMessage(event, 'http://localhost:3000');
            parent.postMessage(event, 'http://test.maodou.io');
            //parent.postMessage(event, 'http://maodou.io');
        }

        <% if(type === 'meet') { %>

        maodou.startMeet({
            id: "<%=id%>",
            firstName: "<%=firstName%>",
            lastName: "<%=lastName%>",
            pictureUrl: "<%=pictureUrl%>"
        });

        <% } else if(type === 'join') { %>

        maodou.joinMeet({
            id: "<%=id%>",
            firstName: "<%=firstName%>",
            lastName: "<%=lastName%>",
            meetingKey: "<%=meetingKey%>",
            pictureUrl: "<%=pictureUrl%>"
        });
        <% } %>
    });
</script>
</body>
</html>