<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
</head>
<body style="margin:0;overflow:hidden;">

<div id="meet-container" style="height:100%;width:100%"></div>

<!-- Include External JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/hmac-sha256.js"></script>
<script src="https://crypto-js.googlecode.com/svn/tags/3.1.2/build/components/enc-base64-min.js"></script>

<!-- Include Moxtra JavaScript Library -->
<!--<script type="text/javascript" src="https://www.moxtra.com/api/js/moxtra-latest.js" id="moxtrajs" data-client-id="uGvPYrH651o"></script>-->
<script type="text/javascript" src="/javascripts/moxtra-latest.js" id="moxtrajs" data-client-id="uGvPYrH651o"></script>

<script type="text/javascript" src="/javascripts/meet.js"></script>

<script type="text/javascript">
    $(function () {
        $('#meet-container').html('');
        maodou.meetSettings.width ="100%";
        maodou.meetSettings.height= "100%";

        var fn = window.parent["<%=callback%>"];
        console.log(fn);
        console.log(typeof fn);
        if(typeof fn === 'function') {
            maodou.eventHandler = fn;
        }

        <% if(type === 'meet') { %>

        maodou.startMeet({id: "<%=id%>",
            firstName: "<%=firstName%>",
            lastName: "<%=lastName%>",
            pictureUrl: "<%=pictureUrl%>"});

        <% } else if(type === 'join') { %>

        maodou.joinMeet({
            id: "<%=id%>",
            firstName: "<%=firstName%>",
            lastName: "<%=lastName%>",
            meetingKey: "<%=meetingKey%>",
            pictureUrl: "<%=pictureUrl%>"
        });
        <% } %>
    });
</script>
</body>
</html>