<!DOCTYPE html>
<html style="height:100%">
<head>
    <meta charset="UTF-8"/>
    <style type="text/css">
        iframe {
            overflow: hidden !important;
        }
    </style>
</head>
<body style="margin:0;overflow:hidden;height:100%">

<div id="meet-container" style="height:100%;width:100%"></div>

<!-- Include External JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/hmac-sha256.js"></script>
<script src="https://crypto-js.googlecode.com/svn/tags/3.1.2/build/components/enc-base64-min.js"></script>

<!-- Include Moxtra JavaScript Library -->
<!--<script type="text/javascript" src="https://www.moxtra.com/api/js/moxtra-latest.js" id="moxtrajs" data-client-id="uGvPYrH651o"></script>-->

<!--<script type="text/javascript" src="/javascripts/moxtra-latest.js" id="moxtrajs" data-client-id="uGvPYrH651o"></script>-->

<script type="text/javascript" src="https://www.grouphour.com/api/js/moxtra-latest.js" id="moxtrajs" data-client-id="lu9gyOkcLX0"></script>
<!--<script type="text/javascript" src="/javascripts/moxtra-latest.grouphour.js" id="moxtrajs" data-client-id="lu9gyOkcLX0"></script>-->

<script type="text/javascript" src="/javascripts/meet.js"></script>

<script type="text/javascript">
    $(function () {
        $('#meet-container').html('');

        maodou.meetSettings.width ="100%";
        maodou.meetSettings.height= "100%";

        maodou.eventHandler = function (event) {
            console.log("event: " + JSON.stringify(event));
            //parent.postMessage(event, 'http://localhost:3000');
            parent.postMessage(event, 'http://test.maodou.io');
            //parent.postMessage(event, 'http://maodou.io');
        }

        <% if(type === 'meet') { %>

        maodou.startMeet({id: "<%=id%>",
            firstName: "<%=firstName%>",
            lastName: "<%=lastName%>",
            pictureUrl: "<%=pictureUrl%>"});

        <% } else if(type === 'join') { %>

        maodou.joinMeet({
            id: "<%=id%>",
            firstName: "<%=firstName%>",
            lastName: "<%=lastName%>",
            meetingKey: "<%=meetingKey%>",
            pictureUrl: "<%=pictureUrl%>"
        });
        <% } %>
    });
</script>
</body>
</html>